div.content{
    position: relative;
    flex: 2;
    min-height: 100vh;
    margin-top: 80px;
    margin-left: 80px;
    transition: 1s;
    display: flex;
    justify-content: space-between;
}

    
div.items{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4,minmax(200px,1fr));
    grid-auto-rows: 250px;
    grid-gap: 5px;
    width: 950px;
    background: rgba(190, 195, 202, 0.3);
}

@media (max-width: 1250px) {
    div.items{
        width: 900px;
        grid-template-columns: repeat(3,minmax(200px,1fr));
    }
}
@media (max-width: 1050px) {
    div.items{
        width: 1000px;
        grid-template-columns: repeat(4,minmax(200px,1fr));
    }
}

@media (max-width: 930px) {
    div.items{
        grid-template-columns: repeat(3,minmax(200px,1fr));
    }
}

 @media (max-width: 750px) {
    div.items{
        grid-template-columns: repeat(2,minmax(200px,1fr));
    }
}

@media (max-width: 550px) {
    div.items{
        grid-template-columns: repeat(2,minmax(200px,1fr));
    }

    div.content{
        margin-left: 0px;
    }

    .items{
        padding-left: 90px;
    }
}

div.sch{
    position: fixed;
    top: 15px;
    z-index: 9999;
}

div.sch input{
    border:none;
    border-bottom: 2px solid #c0c0c0;
    outline: none;
    width: 200px;
    color: #333;
      font-size: 14px;
      padding: 0.5em 1em 0.5em 0;
      transition: .4s;
}

.sch input:focus{
    border-bottom: 2px solid #f18c07;
    width: 250px;
}

.page{
    position: relative;
    bottom: 0;
    display: grid;
    grid-template-columns: 100px 100px;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 10px;
}

.page p{
    margin:0;
    text-align: center;
    color: royalblue;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.printCheckout{
    padding: 15px 20px;
    display: grid;
}

.modalFooter{
    display: grid;
    text-align: center;
    padding: 0px 20px;
}

.btnPrint{
    background-color:  #F24F8A !important;
    font-weight: bold !important;
    border: none !important;
}

.btnEmail{
    margin-top: -10px;
    background-color: #57CAD5 !important;
    font-weight: bold !important;
    border: none !important;
}

.modalBody{
    padding: 0px 20px;
}

.cashier{
    font-size: 14px;
}

.faktur{
    float: right;
    margin-top: -60px;
}

.modalDetail{
    font-weight: bold;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
}

.modalppn{
    font-weight: bold;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
}

.modaltotal{
    font-weight: bold;
    padding: 0px 20px;
}

.total{
    float: right;
    font-size: 18px;
    margin-top: 6px;
}

.empty{
    position: relative;
    background-color: #fff;
    text-align: center;
    height: 590px;
    z-index: 90;
    transition: 1s;
}

.empty h5{
    margin-top: -30px;
}
.empty p{
    margin-top: -10px;
    color: #acacac;
    font-size: 14px;
}

.picEmpty{
    -webkit-animation: 1s linear 1s infinite alternate rotateMe;
    animation: 1s linear 1s infinite alternate rotateMe;
}


        @keyframes rotateMe {
            0% {
                transform: rotate(-4deg);
            }
            50% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(4deg);
            }
          }